@using Microsoft.AspNetCore.Authentication

@{
    ViewData["Title"] = "Auth Cookie";
    AuthenticationProperties authenticationProperties = ViewBag.AuthProperties;
}

<h1>@ViewData["Title"]</h1>

<h2>Claims</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>Properties</h2>
@if (authenticationProperties is null)
{
    <p>No authentication properties found.</p>
    return;
}

<dl>
@foreach (var property in authenticationProperties.Items)
{
    <dt>@property.Key</dt>
    <dd>@property.Value</dd>
}
</dl>

