@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}

@if (Model is not null && Model.Count > 0)
{
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="@product.ImageUrl" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="btn btn-sm btn-outline-secondary">View</a>
                            </div>
                            <small class="text-muted">Price: @product.Price</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
